* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: #5a5af5;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: 0;
    background: transparent;
}